.DS_Store

data/
games/
smex-items
.smex-items
.mc-lists.el
projectile.cache
skewer-cache/
bookmarks

.org-id-locations
recentf
transient/
elpa/
eshell/
irony/
backups/

abbrev_defs
auto-save-list
notes
tramp
url
projectile-bookmarks.eld
SessionDesktop.el
cider-history
custom.el
*.elc

*.swp
type-break

user/elisp
user/local
persp-confs
/network-security.data
