[submodule "snippets/clojure-mode"]
           path = snippets/clojure-mode
           url = https://github.com/swannodette/clojure-snippets

[submodule "themes/ample"]
           path = themes/ample
           url = https://github.com/jordonbiondo/ample-theme

[submodule "themes/ample-zen"]
           path = themes/ample-zen
           url = https://github.com/mjwall/ample-zen

[submodule "themes/ir-black-theme"]
           path = themes/ir-black-theme
           url = https://github.com/jmdeldin/ir-black-theme.el

[submodule "themes/leuven-theme"]
           path = themes/leuven-theme
           url = https://github.com/fniessen/emacs-leuven-theme

[submodule "themes/material-theme"]
           path = themes/material-theme
           url = https://github.com/cpaulik/emacs-material-theme

[submodule "themes/monokai"]
           path = themes/monokai
           url = https://github.com/oneKelvinSmith/monokai

[submodule "themes/noctilux"]
           path = themes/noctilux
           url = https://github.com/stafu/noctilux-theme

[submodule "themes/sanityinc-tomorrow"]
           path = themes/sanityinc-tomorrow
           url = https://github.com/purcell/color-theme-sanityinc-tomorrow

[submodule "themes/solarized"]
           path = themes/solarized
           url = https://github.com/sellout/emacs-color-theme-solarized

[submodule "user/emacs-config"]
           path = user/emacs-config
           url = http://github.com/maxi-k/emacs-config
